.header {
    background-color: black;
    padding: 0 480px;
    height: 4.375em;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.body a{
    text-decoration: none;
}

.inner-header {
    display: flex;
    width: fit-content;
    height: 4.375em;
    align-items: center;
    justify-content: center;
}

.inner-header a {
    text-decoration: none;
}

.inner-header h2 {
    color: white;
    font-family: Impact, sans-serif;
    font-size: 1.5em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header-border {
    width: 100%;
    height: 18px;
    display: flex;
}

.header-border-1 {
    width: 25%;
    height: 18px;
    background-color: #FFFAAA;
}

.header-border-2 {
    width: 25%;
    height: 18px;
    background-color: #FFEA30;
}

.header-border-3 {
    width: 25%;
    height: 18px;
    background-color: #FDD54F;
}

.header-border-4 {
    width: 25%;
    height: 18px;
    background-color: #E4B429;
}

#logo {
    height: 43px;
    width: 172px;
}

nav ul {
    display: flex;
    padding: 0 4em;
    gap: 3em;
}

nav ul li {
    text-transform: uppercase;
    font-family: Impact, sans-serif;
    font-size: 0.75em;
    letter-spacing: 1px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
}

.search-icon {
    display: flex;
}

.search-icon a {
    text-decoration: none;
}

.search-icon-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-icon-inner img {
    filter: invert(100%);
    width: 20px;
    height: 20px;
}

.search-icon-inner p {
    color: white;
    font-family: Impact, sans-serif;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.banner {
    background-color: #F4A225;
    display: flex;
    margin-bottom: 1em;
}

.banner-img {
    background-image: url("../img/responsive-web-design-concept-3396758903.jpg");
    width: 100%;
    height: 485px;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-block {
    position: relative;
    top: 30%;
}

.banner-h2 {
    background-color: rgba(255, 255, 255, 0.9);
    /* color: #25A9FB; */
    color: black;
    display: flex;
    align-items: center;
    padding: 1em 1em;
    font-family: "FB Web Use Only";
    font-weight: normal;
    width: 100%;
    font-size: 2em;
    box-sizing: border-box;
}

.inner-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 250px;
}

.inner-footer-col {
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    border-left: 1px solid #4E4E4E;
    gap: 1em;
}

.inner-footer-col-right {
    border-right: 1px solid #4E4E4E;
}

.inner-footer-col a {
    text-decoration: none;
    color: white;
    font-family: Impact, sans-serif;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
}

.inner-footer-col a:hover {
    color: #ffd54f;
    text-decoration: underline;
}

.inner-footer-socials {
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 0 2em;
}

.inner-footer-socials a {
    text-decoration: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.inner-footer-socials a:hover {
    background-color: #FFEA30;
}

.inner-footer-socials img {
    filter: invert(100%);
    width: 70%;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-footer-socials img:hover {
    filter: invert(0%);
    background-color: #FFEA30;
}

.inner-footer-social-media-tag {
    text-align: right;
    padding: 0.5em 0;
    margin: 0 2em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
}

.inner-footer-social-media-tag a {
    text-decoration: none;
    color: white;
}

#instagram-icon {
    size: 30px;
}

.history-banner img {
    width: fit-content;
    display: flex;
    margin: 0 auto;
}

.history-banner {
    width: 100%;
    background-color: #A5DFE1;
    background-color: #1D355B;
    padding-bottom: 2em;
}

.container {
    margin: 0 10%;
}

.about-content-section {
    background: #EEE;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.about-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 1em;
    /* background-color: #eee; */
}

.about-header h1 {
    font-family: "FB Web Use Only";
    font-size: 2em;
}

.about-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}

.about-card img {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.about-card ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 0 2em;
    margin: 0 auto;
    list-style: disc;
}

.about-card li {
    color: #000;
    font-family: Georgia;
    font-size: 1em;
    line-height: 30px;
}

.content-cards-col {
    display: flex;
    flex-direction: column;
    width: 410px;
    gap: 2em;
}

.content-cards-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
    gap: 2em;
}

.content-cards-row a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 0 auto;
}

.content-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
}

.content-card:hover {
    width: 410px;
    font-size: 1.25em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.content-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.content-card p {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Impact, Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 1em 0;
}

.history-content-card img {
    object-position: top;
}

.content-cards-see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}

.content-cards-see-more a {
    text-decoration: none;
    color: black;
    font-family: Impact, Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1em 2em;
    border: 1px solid black;
    transition: 0.3s;
}

.content-cards-see-more a:hover {
    background-color: #eee;
    border: 0;
}
/* 
.body-center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
}

.body-image {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.body-image p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    padding: 0.5em;
    text-align: center;
    margin: 0 auto;
}

#vertical-image {
    width: 30%;
}

.body-text {
    padding: 2em;
}

.body-text p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25em;
    line-height: 30px;
    text-align: center;
    width: auto;
    margin: 0 auto;
}

.body-grey {
    background-color: #FAFAFA;
    width: 100%;
}

.body-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
    width: 70%;
}

.body-grid {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-evenly;
}

.title-header {
    font-family: "FB Web Use Only";
    font-size: 2.5em;
    padding: 0.5em 0;
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
}

.subtitle-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    padding: 1em 0;
    text-align: center;
    border-bottom: 1px solid #eee;
    /* margin: 2em 0; */
}

.see-also {
    border-top: 1px solid #eee;
    background-color: #686868;
}

.see-also h1 {
    font-family: Impact, Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid #4E4E4E;
    width: 50%;
    margin: 0 auto;
    color: white;
    text-transform: uppercase;
}

.see-also-links {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.see-also-col {
    padding: 3em 1em;
}

.see-also-col ul li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    padding: 0.5em;
    list-style: disc;
    color: white;
}

.see-also-col ul li a {
    text-decoration: none;
    color: white;
}

.see-also-col ul li a:hover {
    text-decoration: underline;
}

.utility-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 4em;
}

.utility-links a {
    width: 100%;
    background-color: #FAFAFA;
    text-decoration: none;
    color: black;
    font-family: "BureauGrotCond Book","Barlow Condensed",impact,"avenir next condensed heavy","Droid Sans",sans-serif;
    font-weight: 400;
    padding: 1em;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.utility-links a:hover {
    background-color: #4e4e4e;
    color: white;
}

.process-banner-img {
    background-image: url("../img/Process\ Page\ Banner.png");
    width: 100%;
    height: 485px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}